
body {
    background-color: antiquewhite;
    font: 20px Calibri, Tahoma, sans-serif;
    width: 80%;
    margin: 20px auto;
}

#menu-horizontal {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #0066FF;
    border-radius: 20px 5px;
    width: 550px;
    text-align: center;
    background-color: black;
}

#menu-horizontal li { display: inline; }
#menu-horizontal a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
#menu-horizontal a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
#menu-horizontal a:hover {
    border-radius: 20px 5px;
    background-color: grey;
}